@using OdeToFood.Controllers

@model OdeToFood.DomainModels.Restaurant

<h1>@Model.Name</h1>

<div>@Model.Id</div>
<div>
    Cuisine: @Model.Cuisine
</div>
<div>
    @Html.ActionLink("Home", nameof(HomeController.Index))
</div>